@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@import url("https://fonts.cdnfonts.com/css/nebula");
@font-face {
  font-family: Plus Jakarta Sans;
  src: url("/project/public/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url("/project/public/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url("/project/public/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url("/project/public/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nebula";
  src: url("https://db.onlinewebfonts.com/t/e56a6e5ba969c818e425247c070efd5f.eot");
  src: url("https://db.onlinewebfonts.com/t/e56a6e5ba969c818e425247c070efd5f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e56a6e5ba969c818e425247c070efd5f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/e56a6e5ba969c818e425247c070efd5f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/e56a6e5ba969c818e425247c070efd5f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/e56a6e5ba969c818e425247c070efd5f.svg#Nebula")
      format("svg");
  font-weight: 700;
}
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.nebula {
  font-family: "Nebula", sans-serif;
}
.bgGradient {
  background: linear-gradient(
    90deg,
    #1e162e 24.02%,
    rgba(111, 64, 176, 0) 98.12%
  );
}
.boxShadow {
  box-shadow: 0px 10px 30px 0px #e945d0;
}
.boxShadow2 {
  box-shadow: 0px 10px 30px 0px #84487c;
}
.line-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 103.04%
  );
}
.custom-scrollbar {
  height: 100%;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999999 #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}
.table-bg {
  background: linear-gradient(206deg, #6f40b0 -0.61%, #1e162e 57.68%);
}
.border-gradient {
  background: rgb(9, 9, 9);
  background: linear-gradient(
    0deg,
    rgba(9, 9, 9, 0.499124649859944) 0%,
    rgba(195, 75, 193, 1) 39%,
    rgba(203, 53, 200, 1) 98%
  );

  box-sizing: border-box;
  padding: 2px;
}
.btn-shadow {
  background: radial-gradient(
    96.63% 140.33% at 76.68% 66.67%,
    rgba(233, 69, 208, 0) 0%,
    rgba(233, 69, 208, 0.5) 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 5px 0px #fface4 inset, 0px -1px 8px 0px #9375b6 inset;
}
